.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.http

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

*.iml
out/

.vscode/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

HELP.md

src/main/resources/application.properties

# Firebase Service account
backSecrets/